<!-- wp:query {"query":{"postType":"newsletter","perPage":-1,"order":"DESC","orderby":"date"}} -->
<div class="wp-block-query">
    <!-- wp:group -->
    <div class="wp-block-group">
        <!-- wp:heading -->
        <h2>Newsletter Archive</h2>
        <!-- /wp:heading -->

        <!-- wp:post-template -->
            <!-- wp:group -->
            <div class="wp-block-group">
                <!-- wp:post-date {"format":"Y"} /-->
                <!-- wp:post-title {"isLink":true} /-->
            </div>
            <!-- /wp:group -->
        <!-- /wp:post-template -->
    </div>
    <!-- /wp:group -->
</div>
<!-- /wp:query -->
